In [13]:
a = 2
b = 3
c = a ** b
print(a,b,c)
type(c)

2 3 8

int

In [14]:
a = 4
b = 5
a < b
c = a < b
print(c)
type(c)

True

bool

In [7]:
a = 5
b = 6
print("a < b =",a < b)
print("a > b =",a > b)
print("a == b =",a == b)
print("a != b =",a != b)

a < b = True
a > b = False
a == b = False
a != b = True

In [9]:
a = True
b = False
type(a)

bool

In [11]:
a = 12
b = 13
print(a == b,a != b,a < b,a > b )

False True True False

In [17]:
z = 3 + 4j
print(z)
type(z)

(3+4j)

complex

In [19]:
z = 3 + 4j
z
type(z)

complex

In [23]:
z.conjugate() # Here conjugate is a funcion that is appicable on theobject 'z'

(3-4j)

In [24]:
z.imag #Here img is a property

4.0

In [25]:
z.real #Here real is a property of the imaginary numbers

3.0

In [26]:
abs(z)

5.0

In [27]:
a.conjugate()

4

In [29]:
name = "Jyoti"
print(name)
type(name)

Jyoti

str

In [36]:
Firstname = "Jyoti"
Lastname = "Sabarad"
Firstname +" "+ Lastname

'Jyoti Sabarad'

In [34]:
Firstname.upper()

'JYOTI'

In [35]:
len(Firstname)

5

In [38]:
Firstname = "Jyoti"
Lastname = "Sabarad"

len(Firstname+" "+Lastname)

13

In [39]:
Firstname[2]  #Indexing

'o'

In [42]:
Firstname[3:4] #Slicing that is First part is included and last part is excluded

't'

In [45]:
a =12345
a[1] #Indexing isnot possible on the numbers

TypeError: 'int' object is not subscriptable

In [47]:
Firstname

'Jyoti'

In [50]:
Firstname[3] = "r"

TypeError: 'str' object does not support item assignment

- In Python, we can not modify the strings that are created once.That's why string data types comes under immutable data types.

In [53]:
players = ("Rahul","Vyankaresh","Anil","Shreenath","Gautam")
print(players)
type(players)

('Rahul', 'Vyankaresh', 'Anil', 'Shreenath', 'Gautam')

tuple

In [54]:
len(players)

5

In [55]:
players[2]

'Anil'

In [56]:
players[2] = "Jyoti"

TypeError: 'tuple' object does not support item assignment

In [58]:
players1 = "Rahul","Vyankaresh","Anil","Shreenath","Gautam"
players1
type(players1)

tuple

In [60]:
players2 = tuple("Rahul","Vyankaresh","Anil","Shreenath","Gautam")

TypeError: tuple expected at most 1 arguments, got 5

In [62]:
actors_list = ["Akshay","Prabhas","Aamir","Shahrukh","Salman"]
type(actors_list)

list

In [63]:
actors_list[2] = "Ram"

In [64]:
actors_list

['Akshay', 'Prabhas', 'Ram', 'Shahrukh', 'Salman']